@import url(https://fonts.google.com/specimen/Hanken+Grotesk);

:root {
  --font-para-size: 18px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  font-family: "Hanken Grotesk";
  /* padding: 0px; */
  margin: 0;
  color: white;
  background-color: hsl(221, 100%, 96%);
  /* height: 100vh; */
  display: flex;
  align-items: center;
  /* flex-wrap: wrap; */
  justify-content: center;
  gap: .5rem;
}
.outer {
  /* padding: 0; */
  /* list-style: none; */
  display: flex;
  align-items: center;
  /* flex-wrap: wrap; */
  justify-content: center;
  gap: .5rem;
  width: 650px;
  margin: 0 auto;
  border-radius: 20px;
  /* height 50px; */
  /* height: 50%; */
  /* min-height: 300px; */
}
/* @media screen and (max-width: 400px) {
  body {
    display: block;
  }
} */

.result-container {
  font-size: var(--font-para-size);
  background: linear-gradient(to bottom, hsl(252, 100%, 67%),
      hsl(241, 81%, 54%));
  display: flex;
  /* position: ; */
  flex-direction: column;
  /* justify-content: flex-start; */
  align-items: center;
  padding-bottom: 2em;
  border-radius: 20px;
  color: white;
  width: 50%;


}

.result-container_summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-weight: 100; */
}

.result-container_summary>div {
  /* max-width: 70%; */
  font-size: 0.7em;
  margin: 0 auto;
  text-align: center;
}

.hazel {
  color: hsl(241, 100%, 89%);
}

.number-result {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background: linear-gradient(to bottom, hsla(256, 72%, 46%, 1),
      hsla(241, 72%, 46%, 0));
  display: flex;
  flex-direction: column;
  align-items: center;
}

#number-result_result {
  font-size: 2em;
  padding-top: 0.5em;
  font-weight: 800;
}

#number-result_total {
  font-size: 0.6em;
  padding-top: 0.2em;
}

.summary-container {
  background: hsla(0, 0%, 100%,0.8);
  /* border-radius: 20px; */
  /* background: red; */
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  width: 50%;
  /* flex: 1; */
  /* height: 300px; */
}

.tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 10px;
}

.icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  gap: 10px;
}

.summary-container .tabs:nth-child(2) {
  background: hsla(0, 100%, 67%, 0.1)
}

.summary-container .tabs:nth-child(3) {
  background: hsl(39, 100%, 56%, 0.1)
}

.summary-container .tabs:nth-child(4) {
  background: hsl(166, 100%, 37%, 0.1);
}

.summary-container .tabs:nth-child(5) {
  background: hsla(234, 85%, 45%, 0.1);
}

.summary-container h3:nth-child(1) {
  color: black;
  /* padding-left: 2em; */
  font-weight: 700;
}

.summary-container a {
  border-radius: 700px;
  border: solid 1px hsl(224, 30%, 27%);
  background-color: hsl(224, 30%, 27%);
  padding: 1em;
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

#reaction {
  color: hsl(0, 100%, 67%)
}

#memory {
  color: hsl(39, 100%, 56%)
}

#verbal {
  color: hsl(166, 100%, 37%)
}

#visual {
  color: hsl(234, 85%, 45%);
}

.marks {
  display: flex;
}

.marks_highlight {
  color: black;
}

.marks_non_highlight {
  color: hsl(241, 100%, 89%);
}