.notificationHeader {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.m0 {
    margin: 0;
}

.notificationContent {
    border: 1px solid hsl(210, 60%, 98%);
    padding: 0.5em;
}

.notificationTimeDiv {
    display: flex;
    flex-direction: column;
}

.notificationContent:hover {
    background-color:  hsl(205, 33%, 90%);
}

.notification {
    border: 1px solid hsl(210, 60%, 98%);
    background: hsl(211, 68%, 94%);
    padding: 1em;
    display: flex;
    gap: 10px;
}

.message {
    border: 1px solid hsl(210, 60%, 98%);
    background: hsl(211, 68%, 94%);
    padding: 1em;
    margin: 1em;
}

.circle {
    border-radius: 100em;
    width: 0.5rem;
    height: 0.5rem;
    background-color: red;
    display: inline-block;
    border-radius: 100%;
    margin-left: 0.25em;
}